language: android
jdk: oraclejdk7
cache:
  directories:
   - node_modules
sudo: required

android:
  components:
   # Uncomment the lines below if you want to
    # use the latest revision of Android SDK Tools
    - platform-tools
    - tools
    - extra-android-support

    # The BuildTools version used by your project
    - build-tools-23.0.2

    # The SDK version used to compile your project
    - android-23

    # Additional components
    - extra-google-google_play_services
    - extra-google-m2repository
    - extra-android-m2repository
    # - addon-google_apis-google-19
    # - add-on
    # - extra

    # Specify at least one system image,
    # if you need to run emulator(s) during your tests
    - sys-img-armeabi-v7a-android-19
    # - sys-img-x86-android-17

  licenses:
   - 'android-sdk-license-.+'

env:
  global:
    - MALLOC_ARENA_MAX=2
   # install timeout in minutes (2 minutes by default)
    - ADB_INSTALL_TIMEOUT=8
  matrix:
    - ANDROID_TARGET=android-19 ANDROID_ABI=armeabi-v7a

# Emulator Management: Create, Start and Wait
before_script:
  - chmod +x gradlew
  - echo no | android create avd --force -n test -t android-19 --abi armeabi-v7a
  - emulator -avd test -no-skin -no-audio -no-window &
  - android-wait-for-emulator
  - adb devices
  - adb shell input keyevent 82 &

script:
  - ./gradlew clean build connectedAndroidTest
  